<ion-view view-title="Push">
 	<ion-content class="padding">

 		<div class="list card">
      		<div class="item item-divider" ng-class="push.class_status">{{push.status}}</div>
      		<div class="item">
		 		<button class="button button-block button-balanced" ng-disabled="$root.bluemixInit"  ng-click="register()">Register</button>
		 		<button class="button button-block button-assertive" ng-disabled="$root.bluemixInit" ng-click="unregister()">Unregister</button>
		 	</div>
      	</div>

 		<div class="list card">
      		<div class="item item-divider">MFPPush</div>
 			<div class="item">
		 		<button class="button button-block button-positive" ng-disabled="$root.bluemixInit" ng-click="getSubscriptionStatus()">
		          Get Subscription Status
		        </button>
		        <button class="button button-block button-calm" ng-disabled="$root.bluemixInit" ng-click="retrieveAvailableTags()">
		          Retrieve Available Tags
		        </button>
		 		<button class="button button-block button-stable" ng-disabled="$root.bluemixInit" ng-click="fillTagList()">Update Available Tags</button>
		    </div>
	    </div>

 		<div class="list card">
      		<div class="item item-divider">
      			<div class="row no-space">
      				<div class="col col-67">Available Tags</div>
      				<div class="col col-33">Subscribed</div>
      			</div>
      		</div>
  		    <div class="list no-space">
		        <ion-checkbox ng-repeat="item in tagList" ng-model="item.checked">
	  		    	<div class="row">
			        	<div class="col col-80">
			        		{{ item.name }}
			        	</div>
			        	<div class="col col-20" ng-class="item.class_subscribed">
			        		{{ item.subscribed }}
			        	</div>
				    </div>
		        </ion-checkbox>
	        </div>
	        <div class="button-bar">
	        	<a class="button button-assertive" ng-disabled="$root.bluemixInit" ng-click="unsubscribe()">Unsubscribe</a>
		    	<a class="button button-balanced" ng-disabled="$root.bluemixInit" ng-click="subscribe()">Subscribe</a>
		    </div>
 		</div>
	</ion-content>
</ion-view>