<ion-view view-title="Request">
  <ion-content delegate-handle="content" class="padding">

    <!--
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    -->
    <div id="BMSClient">
      <h4>BMSClient</h4>
      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="bms.url" placeholder="Bluemix App Route">
        </label>
        <label class="item item-input"> 
          <input type="text" ng-model="bms.guid" placeholder="Bluemix App GUID">
        </label>
        <button class="button button-block button-positive" ng-click="initialize()">Initialize BMSClient</button>
      </div>
    </div>

    <div id="MFPRequest">
      <h4>MFPRequest</h4>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">HTTPS URL</span>
          <input type="text" ng-model="query.url" placeholder="HTTPS URL">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Method
          </div>
          <select ng-model="query.method">
            <option>GET</option>
            <option>PUT</option>
            <option>POST</option>
            <option>DELETE</option>
            <option>TRACE</option>
            <option>HEAD</option>
            <option>OPTIONS</option>
          </select>
        </label>
        <label class="item item-input"> 
          <span class="input-label">Timeout</span>
          <input type="text" ng-model="query.timeout" placeholder="Timeout">
        </label>
        <button class="button button-block button-positive" ng-disabled="$root.bluemixInit" ng-click="sendRequest()">Send Request</button>
      </div>
    </div>

    <div class="card" id="response-card">
      <div class="row item item-divider">
        <div class="col col-80 col-center">
          <div>Response</div>
        </div>
        <div class="col">
          <button class="button button-small button-assertive" ng-click="clearResponse()">Clear</button>
        </div>
      </div>
      <div class="item item-text-wrap">{{query.response}}</div>
    </div>

  </ion-content>
</ion-view>
