<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
      <logger>
        <div class="list">
        	<div class="item item-divider">
        		Logger
        	</div>
    	    <ion-toggle class="item item-icon-left" ng-model="settings.logger.enabled">
            <i class="icon ion-document-text"></i>
            Persist Log Data
    	    </ion-toggle>
          
          <label class="item item-input item-select item-icon-left">
            <div class="row">
              <div class="col-10">
                <i class="icon ion-levels"></i>
              </div>
              <div class="col-10">
                <div class="input-label">
                  Minimum Log Level
                </div>
              </div>
            </div>
            <select ng-model="settings.logger.minLogLevel">
              <option>DEBUG</option>
              <option>INFO</option>
              <option>WARN</option>
              <option>ERROR</option>
              <option>FATAL</option>
            </select>
          </label>

        </div>
      </logger>

      <analytics>
        <div class="item item-divider">
          Analytics
        </div>
        <ion-toggle class="item item-icon-left" ng-model="settings.analytics.enabled">
          <i class="icon ion-ios-analytics"></i>
          Save Analytics
        </ion-toggle>
      </analytics>

      <push>
        <div class="item item-divider">
          Push Notifications
        </div>
        <ion-toggle class="item item-icon-left" ng-model="settings.push.enabled">
          <i class="icon" ng-class="settings.push.class_enabledIcon"></i>
          Send Notifications
        </ion-toggle>
        <ion-toggle class="item item-icon-left" ng-model="settings.push.alertEnabled">
          <i class="icon ion-ios-analytics"></i>
          Alerts
        </ion-toggle>
        <ion-toggle class="item item-icon-left" ng-model="settings.push.badgeEnabled">
          <i class="icon ion-ios-analytics"></i>
          Badges
        </ion-toggle>
        <ion-toggle class="item item-icon-left" ng-model="settings.push.soundEnabled">
          <i class="icon ion-ios-analytics"></i>
          Sounds
        </ion-toggle>
      </push>
    </ion-list>
  </ion-content>
</ion-view>
